:root {
  /* color*/
  --color-background: #222529; /* 배경색상 */
  --color-font: #ffffff;
}

/* 체크박스 토글버튼 */
#hour12 {
  position: absolute;
  left: -1000%;
}
label {
  display: block;
  position: relative;
  width: 200px;
  height: 60px;
  background-color: #d3d3d3;
  border-radius: 60px;
  transition: background 400ms;
}
label:after {
  content: "";
  position: absolute;
  left: 7.5px;
  top: 50%;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: #ffffff;
  transform: translateY(-50%);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
  transition: all 400ms;
}
input:checked + label {
  background: #4fbe79;
}
input:checked + label:after {
  /* label:after : width + left */
  left: calc(100% - 62.5px);
  right: 7.5px;
}
label span {
  display: none;
}

/* 랜덤 배경화면 액자형식 */
.randombackground {
  background-image: url(https://source.unsplash.com/random);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 50%;
}

.row1,
.row3,
.row5,
.row7,
.row9 {
  width: 150px;
  display: flex;
  flex-direction: column;
}

.row0,
.row2,
.row4,
.row6,
.row8 {
  width: 10px;
  background-color: var(--color-background);
}

.row1 > div:nth-child(1) {
  flex-grow: 1;
  background-color: var(--color-background);
}
.row1 > div:nth-child(2) {
  flex-grow: 10;
}
.row1 > div:nth-child(3) {
  flex-grow: 1;
  background-color: var(--color-background);
}

.row3 > div:nth-child(1) {
  flex-grow: 0.5;
  background-color: var(--color-background);
}
.row3 > div:nth-child(2) {
  flex-grow: 10;
}
.row3 > div:nth-child(3) {
  flex-grow: 0.5;
  background-color: var(--color-background);
}

.row5 > div:nth-child(1) {
  flex-grow: 2;
  background-color: var(--color-background);
}
.row5 > div:nth-child(2) {
  flex-grow: 10;
}
.row5 > div:nth-child(3) {
  flex-grow: 1;
  background-color: var(--color-background);
}

.row7 > div:nth-child(1) {
  flex-grow: 2;
  background-color: var(--color-background);
}
.row7 > div:nth-child(2) {
  flex-grow: 10;
}
.row7 > div:nth-child(3) {
  flex-grow: 0.4;
  background-color: var(--color-background);
}

.row9 > div:nth-child(1) {
  flex-grow: 1;
  background-color: var(--color-background);
}
.row9 > div:nth-child(2) {
  flex-grow: 10;
}
.row9 > div:nth-child(3) {
  flex-grow: 1;
  background-color: var(--color-background);
}
