.wrapper {
  padding: 20px;
  max-width: 350px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul,
li {
  padding-inline-start: 0;
}

h1 {
  margin: 0;
  font-weight: bold;
}

.todoform input {
  width: 350px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

h3 {
  font-weight: bold;
}
.pending,
.finished {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-inline-start: 0;
  width: 100%;
}

.pending li,
.finished li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pending input,
.finished input {
  width: 30px;
  height: 30px;
}

.pending span,
.finished span {
  font-size: 20px;
  font-weight: bold;
}

.pending button,
.finished button {
  border: none;
  background-color: inherit;
  font-size: 20px;
  font-weight: bold;
}
