:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* Size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --fonst-size: 18px;
  --size-thumbnail: 50px;

  /* annimation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  background-color: var(--color-black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
  box-sizing: none;
}

ul,
ol,
li  {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* Logo */

.logo {
  cursor: pointer;
  transition: trnasform var(--animation-duration) ease;
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

/* Buttons */
.buttons {
  display: flex;
  align-items: center;
}

.btn {
  transition: tranform var(--animation-duration) ease;
  margin-right: var(--base-space);
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--fonst-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-button);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

/* Items */
.items {
  width: 70%;
  height: 70%;
  overflow-y: scroll;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item__tumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--fonst-size);
}
