.movie__data {
  background-color: #f3d9ff;
  border-radius: 30px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  margin: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  width: 510px;
}
.movie__poster {
  margin-right: 30px;
  border-radius: 30px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  width: 230px;
  height: 345px;
}

.movie__title {
  font-size: 20px;
}

.summary__text {
  font-size: 15px;
  word-wrap: break-word;
}

.movie__info {
  display: flex;
  flex-direction: column;
}

.movie__genres {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.genres__genre {
  margin: 0 5px;
}
