extends layouts/main

block content
  .form-container
    form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
      label(for="file") Video File
      input(type="file", id="file", name="videoFile", required=true, accept="video/*")
      input(type="text", placeholder="Title", name="title", required=true)
      textarea(name="description", placeholder="Description", required=true)
      input(type="submit", value="Upload Video")

      //- Multer는 파일 업로드를 위해 사용되는 multipart/form-data 를 다루기 위한 node.js 의 미들웨어 입니다.